div.nav_menu_items {
	width: 320px;
}

select.nav_menu_item_select {
	width: 275px;
}

input.nav_menu_item_add,
input.nav_menu_item_remove {
	width: 30px;
}

div.nav_menu_item {
	width: 312px;
	padding: 0 0px 1px !important;
	margin: 5px 0px !important;
	cursor: move !important;
    height: 60px !important;
    margin: 5px 0px;
}

div.nav_menu_item_blank {
	padding: 20px;
	text-align: center;
	font-style: italic;
}

div.nav_menu_item:hover,
div.nav_menu_item_blank:hover {
	color: inherit !important;
}

div.nav_menu_item_data {
	padding-left: 5px;
	margin-left: 0px;
    margin-top: 5px;
}

input.nav_menu_item_label,
input.nav_menu_item_ref {
	width: 260px;
}

div.nav_menu_item_preview {
	padding-top: 5px;
    padding-left: 5px;
}